*{
margin: 0px;
}
h1 {
font: bold 20px verdana, sans-serif;
}
h2 {
font: bold 14px verdana, sans-serif;
}
header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}
body {
text-align: center;
}
#group-elements{
margin: 15px auto;
text-align: left;
width: 1260px;
}
#header-title {
background: #DDDDDD;
border: 1px solid #999999;
display: block;
margin: 10px auto;
padding: 20px;
text-align: center;

-moz-border-radius: 20px 10px 30px 50px;
-webkit-border-radius: 20px 10px 30px 50px;
border-radius: 20px 10px 30px 50px;

}
#span-title {
font: bold 36px verdana, sans-serif;
}
#menu {
background: #CCCCCC;
padding: 5px 15px;
}
#menu li {
display: inline-block;
font: bold 14px verdana, sans-serif;
list-style: none;
padding: 5px;
}
#section-content {
float: left;
margin: 20px;
width: 960px;
}
#aside-column {
background: #CCCCCC;
float: left;
margin: 20px 0px;
padding: 20px;
width: 220px;
}
#pie {
clear: both;
text-align: center;
padding: 20px;
border-top: 2px solid #999999;
}
article {
background: #a0d87b;
border: 1px solid #999999;
padding: 20px;
margin-bottom: 15px;
}
article footer {
text-align: right;
}
time {
color: #999999;
}
figcaption {
font: italic 14px verdana, sans-serif;
}