*{
margin: 0px;
}
h1 {
font: bold 20px verdana, sans-serif;
}
h2 {
font: bold 14px verdana, sans-serif;
}
header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}
body {
text-align: center;
}
#group-elements{
margin: 15px auto;
text-align: left;
width: 1260px;
}
#header-title {
background: #DDDDDD;
border: 1px solid #999999;
display: block;
margin: 10px auto;
padding: 20px;
text-align: center;

-moz-border-radius: 20px 10px 30px 50px;
-webkit-border-radius: 20px 10px 30px 50px;
border-radius: 20px 10px 30px 50px;

-moz-box-shadow: rgb(51, 165, 70) 5px 5px;
-webkit-box-shadow: rgb(138, 43, 43) 5px 5px;
box-shadow: rgb(86, 71, 226) 5px 5px 10px inset;

background: -webkit-linear-gradient(top, #FFFFFF, #006699);
background: -moz-linear-gradient(top, #FFFFFF, #006699);

background: -webkit-radial-gradient(center,circle,#FFFFFF 0%, #006699 200%);
background: -moz-radial-gradient(center,circle,#FFFFFF 0%, #006699 200%);

-moz-transform: scale(1,-1);
-webkit-transform: scale(1,-1);

-moz-transform: rotate(30deg);
-webkit-transform: rotate(30deg);

-moz-transform: skew(20deg);
-webkit-transform: skew(20deg);

-moz-transform: translate(100px);
-webkit-transform: translate(100px);

-moz-transform: translateY(100px) rotate(45deg) scaleX(0.3);
-webkit-transform: translateY(0px) rotate(0deg) scaleX(1.5);

}
#header-title:hover{
-moz-transform: rotate(5deg);
-webkit-transform: rotate(5deg);

-moz-transition: -moz-transform 1s ease-in-out 0.5s;
-webkit-transition: -webkit-transform 1s ease-in-out 0.5s;
 }
#span-title {
font: bold 36px verdana, sans-serif;
text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
color: hsla(120, 100%, 50%, 0.5);
}
#menu {
background: #CCCCCC;
padding: 5px 15px;
}
#menu li {
display: inline-block;
font: bold 14px verdana, sans-serif;
list-style: none;
padding: 5px;
}
#section-content {
float: left;
margin: 20px;
width: 960px;
}
#aside-column {
background: #CCCCCC;
float: left;
margin: 20px 0px;
padding: 20px;
width: 220px;
}
#pie {
clear: both;
text-align: center;
padding: 20px;
border-top: 2px solid #999999;
}
article {
background: #a0d87b;
border: 1px solid #999999;
padding: 20px;
margin-bottom: 15px;
}
article footer {
text-align: right;
}
time {
color: #999999;
}
figcaption {
font: italic 14px verdana, sans-serif;
}